<h1> Articles related to <%=@tag.name %> </h1>
<ul>
	<% @tag.articles.each do |article| %>
		<li><%=link_to article.title, article_path(article) %></li>
	<%end%>
</ul>
<h4><%= link_to "Back to Tags list", tags_path %></h4>